@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
  --primary-yellow: #F6BD60;
  --primary-cream: #F7EDE2;
  --primary-young-red: #F5CAC3;
  --primary-red: #F28482; 
}

